vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Oct 2001 16:49:09 -0000
vti_extenderversion:SR|5.0.2.6738
vti_lineageid:SR|{B55C26EE-093F-464A-9529-073C19C13A5D}
vti_backlinkinfo:VX|
vti_syncwith_cocobolo.forestry.oregonstate.edu\:8080:TR|05 Oct 2001 16:49:09 -0000
vti_cacheddtm:TX|05 Oct 2001 16:49:09 -0000
vti_filesize:IR|3377
vti_cachedlinkinfo:VX|S|safbul1a.gif S|safbul2a.gif S|safbul3a.gif S|saftextr.jpg
vti_cachedsvcrellinks:VX|FSUS|images/safbul1a.gif FSUS|images/safbul2a.gif FSUS|images/safbul3a.gif FSUS|images/saftextr.jpg
